@font-face {
	font-family: Muli-Bold;
	src: url("../assets/Muli-Bold.ttf") format("truetype");
}
@font-face {
	font-family: Muli-SemiBold;
	src: url("../assets/Muli-SemiBold.ttf") format("truetype");
}
